table {
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
}

.none {
    visibility: hidden;
    border: none;
}

 tbody>tr:nth-child(odd) {
    background-color: rgb(218, 218, 218);
}

.background {
    background-color: white;
}

.font-weight {
    font-weight: 600;
}
h1, p {
    text-align: center;
}

p {
    font-size: 20px;
    margin-top: -10px;
}